abstraccion.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pagina">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="catalogo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="genero" type="xs:string" />
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="coleccion" type="xs:string" />
              <xs:element name="descripcion">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Año" type="xs:integer" />
                    <xs:element name="resumen" type="xs:string" />
                    <xs:element name="imagen" type="xs:string" />
                    <xs:element name="autor" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
